

#overview-site {
  background-image: url("http://www.babaimage.com/images/download-wallpaper-1920x1080-minimalism-sky-clouds-sun-mountains.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 8%;
  padding-right: 8%;
}

.Townhall {
  background: red;
}

.overview-container .column {
  width: 30%;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 10px;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}



.overview-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview-buildings-thumb, .overview-resources-thumb {
  width: 20%;
  padding-bottom: 20%;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overview-troops-imageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.overview-troops-image {
  width: 20%;
  padding-bottom: 20%;
  margin: 10px;
  background-image: url("http://image.flaticon.com/icons/svg/194/194638.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overview-buildings-name, .overview-resources-name {
  width: 60%;
  font-weight: normal;
  padding-top: 10%;
}

.overview-troops-num {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}


@media (max-width: 1400px) {
  .login-window {
    width: 30%;
  }
  #login-site {
    padding-top: 25%;
  }
}

@media (max-width: 1000px) {
  .login-window {
    width: 40%;
  }
  #login-site {
    padding-top: 30%;
  }
}

@media (max-width: 600px) {
  .login-window {
    width: 60%;
  }
  #login-site {
    padding-top: 50%;
  }
}
