#buildings-site {

  background-image: url("http://www.babaimage.com/images/download-wallpaper-1920x1080-minimalism-sky-clouds-sun-mountains.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  span {
    color: white;
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }

  .progress {
    width: 100%;
  	border: 1px solid black;
		height: 10px;
    margin-bottom: 20px;

    .bar {
      width: 1px;
			height: 8px;
  		background: red;
    }
  }

  .building-title{
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 100px;
    font-size: 3em;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8%;
    padding-right: 8%;

    .new-building {
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;
      vertical-align: middle;
      justify-content: space-between;

      h2 {
        align-self: center;
        padding-right: 20px;
        color: white;
      }
    }

    .add-button {
      width: 140px;
      display: inline-block;
      outline: none;
    }

    .building {
      margin-bottom: 20px;
      font-size: 2em;

      .building-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }


      .type {
        text-transform: capitalize;
        width: 100%;
      }

      .hp {
        flex: 0 0 40px;
        padding-left: 60px;
      }

      .level {
        flex: 0 0 40px;
        padding-left: 60px;
      }

      .upgrade {
        flex: 0 0 50px;
        margin-left: 30px;
        outline: none;
      }
    }

    .row {
      background-color: rgba(240, 240, 240, 0.8);
      border-radius: 10px;
      padding: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
    }
  }
}
