* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#buildings-site {
  background-image: url("./img/bg_main-01.png");
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100%;

  .error {
    color: white;
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }


  .add {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: 250px;
    left: 85%;
    &:nth-child(2) {
      top: 350px;
    }
    &:nth-child(2) {
      top: 380px;
    }
    &:nth-child(3) {
      top: 510px;
    }
  }

  .progress {
    position: relative;
    top: 120px;
    left: 22%;
    width: 55%;
  	border: 1px solid #132930;
		height: 10px;
    margin-bottom: 20px;

    .bar {
      width: 1px;
			height: 8px;
  		background: red;
    }
  }

  .buildingsContainer {
    width: 60%;
    height: auto;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    .building {
      width: calc(100% / 4 - 50px);
      height: 300px;
      margin: 25px;
      display: flex;
      flex-direction: column;

      .hpProgress {
        position: relative;
        width: 100%;
        height: 7%;
        background-color: gray;
        background-image: url();

        .hpActual {
          background-color: #4C134E;
          height: 100%;
        }
        span {
          position: absolute;
          color: white;
          left: 0px;
          width: 25%;
          display: inline-block;
        }
      }

      .imageHolder {
        width: 100%;
        height: 73%;
        background-color: #132930;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
      }

      .mine {
        background-image: url("./img/assets/mine.svg");
      }

      .townhall {
        background-image: url("./img/assets/townhall.svg");
      }

      .farm {
        background-image: url("./img/assets/factory.svg");
      }

      .barracks {
        background-image: url("./img/assets/academy.svg");
      }

      .type {
        height: 20px;
        background-color: pink;
      }

      .buildingData {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: white;
        color: black;

        .data, button {
          width: 55%;

          img {
            padding: 5px;
            height: 100%;
            width: 100%;
            display: block;
            border-right: 1px solid black;
          }

          span {
            position: relative;
            top: -33px;
            color: #7F712D;
          }
        }
        button {
          border-width: 0px;
          font-size: 1.2em;
          height: 100%;
          background-color: #4C134E;
          color: white;
          &:hover {
            background-color: rgba(125, 29, 117, 1);
          }
        }
      }
    }
  }
}
