#history-page {

  background-image: url("./img/bg3-01.png");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;

  .history-title {
    font-weight: normal;
    text-align: center;
    color: white;
    padding-bottom: 75px;
    padding-top: 100px;
    font-size: 3em;
  }

  .container {
    padding-left: 25%;
    padding-right: 25%;
    font-weight: 100;

    li {
      list-style: none;
      color: white;
    }

    .battle-item {
      background-color: rgba(19, 41, 48, 0.6);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      counter-reset: order;
      margin-bottom: 15px;

      .attacker-info {
        display: flex;
        flex-direction: column;

        li {
          width: 200px;
          text-align: center;
        }
      }
      .defender-info {
        display: flex;
        flex-direction: column;

        li {
          width: 200px;
          text-align: center;
        }
      }

      .battle-result {
        display: flex;
        //background-color: rgba(50, 50, 50, 0.6);
        border-radius: 10px;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;

        .attacker {
          padding-right: 20px;

          .avatar {
            width: 50px;
            height: 50px;
            background-image: url("./img/assets/win.svg");
            background-size:cover;
            background-position: center center;
          }
        }

        .result {
          width: 50px;
          height: 50px;
          // background-image: url("https://image.flaticon.com/icons/svg/225/225481.svg");
          background-image: url("./img/assets/arrow.svg");
          background-size:cover;
          background-position: center center;
        }

        .defender {
          padding-left: 20px;

          .avatar {
            width: 50px;
            height: 50px;
            background-image: url("./img/assets/lost.svg");
            background-size:cover;
            background-position: center center;
          }
        }

        .username {
          text-transform: capitalize;
          text-align: center;
          padding-top: 20px;
        }
      }
    }

    .battle-item:before {
      counter-increment: order;
      content: "# "counter(order);
      padding-right: 20px;
    }
  }
}
