#history-page {

  background-image: url("http://www.babaimage.com/images/download-wallpaper-1920x1080-minimalism-sky-clouds-sun-mountains.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .history-title {
    text-align: center;
    color: white;
    padding-bottom: 30px;
    font-size: 3em;
  }

}
