#leaderboard-page {

  background-image: url("./img/space_background02-01.jpg");
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .leaderboard-title {
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 100px;
    font-size: 3em;
  }

  .container {
    padding-left: 8%;
    padding-right: 8%;

    li {
      list-style: none;
    }

    .leaderboard {
      counter-reset: order;

      .list-item {
        padding-bottom: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;

        .avatar {
          width: 50px;
          height: 50px;
          background-image: url("http://image.flaticon.com/icons/svg/194/194638.svg");
          background-size:cover;
          background-position: center center;
          display: inline-block;
          flex: 0 0 50px;

        }
        .username {
          text-transform: capitalize;
          display: block;
          padding-left: 30px;
        }

        .points {
          padding-left: 60px;
        }

      }

      .list-item:before {
        counter-increment: order;
        content: "# " counter(order);
        padding-right: 20px;
      }
    }
  }
}
