
$white: #FFFFEE;
$lightGray: #D6D6CC;
$mediumGray: #C1C1B9;
$lightOrange: #FD8B4F;
$mediumOrange: #FC6E23;
$darkOrange: #C5572C;
$lightBlue: #60ACBE;
$darkBlue: #488CA7;
$green: #7C932C;
$yellow: #FEE159;
$darkYellow: #DDC75C;
$black: #040A0C;
$mediumBlack: #132930;
$transparent: rgba(0, 0, 0, 0);

*, input {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

body, html, main {
  width: 100%;
  height: 100%;
}

main {
  font-family: 'Open sans', sans-serif;
  font-weight: normal;
}

@import "troops";
@import "overview";
@import "login";
@import "register";
@import "menu";
@import "buildings";
@import "map";
@import "leaderboard";
@import "history";
@import "profile";
