main {
  //height: auto;
}

#map {
  height: 15000px;
  width: 20000px;
  background: url("img/space_background02-01.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  cursor:crosshair;

  .goToMyKingdom {
    position: fixed;
    margin: 10px;
    top: 70px;
    left: 10px;
    width: 50px;
    height: 50px ;
    background-image: url("./img/map/target.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }

  select {
    position: fixed;
    left: 90px;
    top:85px;
    width: 300px;
    height: 40px ;
    line-height: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: $white;
    font-size: 1em;
    font-weight: bold;
    z-index: 10;
    option {
      width: 100px;
      color: black;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .ui-widget-content:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .ui-widget-content:active {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .svgContainer {
    height: 600px;
    width: 600px;
    position: absolute;
    display: inline-block;
    border-radius: 600px;
    box-sizing: content-box;
  }

  .attackButton {
    width: 150px;
    height: 150px;
    border: 0px solid white;
    font-size: 1.3em;
    color: white;
    position: fixed;;
    top: 40%;
    left: calc(50% + 400px);
  }

  aside {
    position: fixed;
    top: 200px;
    left: 10px;
    width: auto;
    height: auto;
    z-index: 10;

    .sideElem {
      display: flex;
      flex-direction: row;
      img{
        width: 50px;
        height: 50px;
        margin: 10px;
      }

      span {
        color: white;
        display: inline-block;
        padding-top: 25px;
        padding-left: 10px;
        text-align: center;
      }
    }
  }

  .enemyDetails {
    width: 40vw;
    height: 12vh;
    position: fixed;
    left: calc(100vw - 70vw);
    top:calc(100vh - 14vh);
    //background-color: $mediumBlack;
    background-color: rgba(75, 75, 75, 0.6);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;

    h1 {}
    .buildings {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      .detail {
        display: flex;
        flex-direction: column;
        img {
          width: 50px;
        }
      }
    }
  }
  .availableTroops {
    background-color: rgba(75, 75, 75, 0.6);
    border-radius: 20px;
    width: 240px;
    height: 400px;
    height: auto;
    position: fixed;
    top: 250px;
    left: 150px;
    z-index: 50;
    padding: 10px;
    text-align: center;
    color: white;

    .troopsContainer {
      width: 100%;
      height: 300px;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 10px;
      .troop {
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 5px;
        margin: 5px;
      }
    }

    ::-webkit-scrollbar {
    width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: white;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    .startBattleButton {
      width: 95%;
      height: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }
}
