#menu-bar {
  background-color: white;
  height: 60px;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 100;

  .menu {
    height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 10px;
    margin-right: 25px;
    margin-left: 10px;

    .menu-list {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .menu-elem {
        font-family: 'Amatic SC', cursive;
        //line-height: 10px;
        font-size: 1.8em;
        border-radius: 3px;
        font-weight: bold;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
        text-decoration: none;
        background-color: $black;
        color: white;
        transition: all 0.3s;

        li {
          height: 80%;
          transition: all 0.3s;
          padding-left: 5px;
          padding-right: 5px;
          line-height: 40px;
        }

        &:hover {
          background-color: $lightBlue;
          //color: $darkOrange;

          li {
            //line-height: 45px;
          }
        }
      }
    }

    .resources {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 10%;

      span {
        display: inline-block;
        //width: 25%;
        height: 50px;
        width: auto;
        padding: 5px;
        padding-right: 10px;
        padding-left: 20px;
        vertical-align: top;
        line-height: 40px;
      }

      img {
        width: auto;
        height: 50px;
      }
    }

    .drop-down-menu {

      .drop-down-menu-icon {
        width: auto;
        height: 50px;

        .drop-down-menu-username {
          display: inline-block;
          height: 50px;
          width: auto;
          padding: 5px;
          padding-right: 10px;
          vertical-align: top;
          line-height: 40px;
        }

        .drop-down-menu-avatar {width: 50px;
          height: 50px;
          // background-image: url("http://image.flaticon.com/icons/svg/194/194638.svg");
          background-image: url("img/fox1.svg");
          background-size:cover;
          background-position: center center;
          display: inline-block;
        }
      }

      .drop-down-menu-body {
        position: absolute;
        top: 60px;
        right: 50px;
        z-index: 110;

        .drop-down-menu-row {
          height: 40px;
          width: 150px;
          background-color: rgba(255, 255, 255, 0.8);
          color: black;
          padding:12px;
          list-style: none;

          &:first-child {
            border-bottom: 1px solid white;
          }

          .drop-down-menu-link {
            text-decoration: none;
            color: black;

            &:hover {
              color: purple;
            }
          }
        }
      }

    }
    .drop-down-overlay {
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba(0, 0, 0, 0.6);
    }
  }
}
