#menu-bar {
  height: auto;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 100;

  .menu {
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-top: 10px;
    color: white;

    .circle {
      border-radius: 500px;
      width: 200px;
      height: 200px;
      border: 1px solid white;
      position: absolute;
      top: -75px;
      left: -75px;
    }
    .activeScreen {
      background-color: white;
      border-radius: 100px;
      width: 75px;
      height: 75px;
      transform-origin: center;
      transition: all 0.3s;
      border: 0px solid white;

      .overlay {
        opacity: 0;
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 200px;
        top: -20px;
        left: -20px;
      }

      .option {
        position: absolute;
        background-color: white;
        border-radius: 100px;
        width: 45px;
        height: 45px;
        opacity: 0;
        transition: all 0.5s;
        background-size:cover;
      }

      .option1 {
        top: 105px;
        left: 3px;
      }

      .option2 {
        top: 115px;
        left: 51px;
      }

      .option3 {
        top: 95px;
        left: 95px;
      }

      .option4 {
        top: 51px;
        left: 115px;
      }

      .option5 {
        top: 3px;
        left: 105px;
      }
    }

    .resources {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 10%;

      span {
        display: inline-block;
        //width: 25%;
        height: 50px;
        width: auto;
        padding: 5px;
        padding-right: 10px;
        padding-left: 20px;
        vertical-align: top;
        line-height: 40px;
      }

      img {
        width: auto;
        height: 75px;
      }
    }

    .drop-down-menu {

      .drop-down-menu-icon {
        width: auto;
        height: 75px;

        .drop-down-menu-username {
          display: inline-block;
          height: 50px;
          width: auto;
          padding: 5px;
          padding-right: 10px;
          vertical-align: top;
          line-height: 40px;
        }

        .drop-down-menu-avatar {
          width: 75px;
          height: 75px;
          // background-image: url("http://image.flaticon.com/icons/svg/194/194638.svg");
          background-image: url("img/fox1.svg");
          background-size:cover;
          background-position: center center;
          display: inline-block;
        }
      }

      .drop-down-menu-body {
        position: absolute;
        top: 60px;
        right: 50px;
        z-index: 110;

        .drop-down-menu-row {
          height: 40px;
          width: 150px;
          background-color: rgba(255, 255, 255, 0.8);
          color: black;
          padding:12px;
          list-style: none;

          &:first-child {
            border-bottom: 1px solid white;
          }

          .drop-down-menu-link {
            text-decoration: none;
            color: black;

            &:hover {
              color: purple;
            }
          }
        }
      }

    }
    .drop-down-overlay {
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba(0, 0, 0, 0.6);
    }
  }
}
