#menu-bar {
  background-color: white;
  height: 60px;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 100;
  .menu {
    height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 10px;
    margin-right: 25px;
    margin-left: 10px;
    .menu-list {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .menu-elem {
        font-family: "Barrio";
        line-height: 22px;
        font-size: 1.2em;
        border-radius: 3px;
        list-style: none;
        margin: 5px;
        padding: 10px;
        text-decoration: none;
        background-color: black;
        color: white;
        transition: all 0.3s;
        li {
          transition: all 0.3s;
        }
        &:hover {
          background-color: #DC713D;
          li {
            line-height: 45px;
          }
        }
      }
    }
    .resources {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 10%;
      span {
        display: inline-block;
        //width: 25%;
        height: 50px;
        width: auto;
        padding: 5px;
        padding-right: 10px;
        padding-left: 20px;
        vertical-align: top;
        line-height: 40px;
      }
      img {
        width: auto;
        height: 50px;
      }
    }
    .drop-down-menu {
      .drop-down-menu-icon {
        width: auto;
        height: 50px;

        .drop-down-menu-username {
          display: inline-block;
          height: 50px;
          width: auto;
          padding: 5px;
          padding-right: 10px;
          vertical-align: top;
          line-height: 40px;
        }

        .drop-down-menu-avatar {width: 50px;
          height: 50px;
          background-image: url("http://image.flaticon.com/icons/svg/194/194638.svg");
          background-size:cover;
          background-position: center center;
          display: inline-block;
        }
      }

      .drop-down-menu-body {
        position: absolute;
        top: 60px;
        right: 50px;

        .drop-down-menu-row {
          height: 40px;
          width: 150px;
          background-color: rgba(255, 255, 255, 0.8);
          color: black;
          padding:12px;
          list-style: none;

          &:first-child {
            border-bottom: 1px solid white;
          }

          .drop-down-menu-link {
            text-decoration: none;
            color: black;
            &:hover {
              color: purple;
            }
          }
        }
      }
    }
  }
}
