#overview-site {
  background-image: url("http://www.babaimage.com/images/download-wallpaper-1920x1080-minimalism-sky-clouds-sun-mountains.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .kingdom {
    text-align: center;
    color: white;
    padding-bottom: 30px;
    font-size: 3em;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 8%;
    padding-right: 8%;

    .column {
      width: 30%;
      background-color: rgba(240, 240, 240, 0.8);
      border-radius: 10px;
      padding: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;

      h1 {
        padding-bottom: 40px;
        text-align: center;
        font-size: 2em;
      }

      h2 {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
      }

      .type {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      h3 {
        font-weight: lighter;
        text-align: left;
        &:first-child {
          font-size: 1.2em;
          font-weight: bold;
          padding-top: 10px;
        }
        &:last-child {
          padding-bottom: 10px;
        }
      }

      .list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 20%;
        align-items: center;

        .thumb {
          width: 28%;
          padding-top: 28%;
          margin-left: 15px;
          margin-top: 20px;
          margin-bottom: 20px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }

        .townhall {
          background-image: url("img/icons/spacestation_icon.svg");
        }
        .mine {
          background-image: url("img/icons/mine_icon.svg");
        }
        .farm {
          background-image: url("http://image.flaticon.com/icons/svg/284/284493.svg");
        }
        .barrack {
          background-image: url("http://image.flaticon.com/icons/svg/284/284425.svg");
        }
        .food {
          background-image: url("http://image.flaticon.com/icons/svg/168/168559.svg");
        }
        .gold {
          background-image: url("http://image.flaticon.com/icons/svg/199/199533.svg");
        }

        .buildings-name {}
      }
    }

    .troops {

      .troops-num {
        font-size: 60px;
        text-align: center;
        font-weight: bold;
      }
      .troops-imageContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        .troops-image {
          width: 20%;
          padding-bottom: 20%;
          margin: 10px;
          background-image: url("http://image.flaticon.com/icons/svg/194/194638.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }
}
