<header ng-include="'public/menu/menu.html'"></header>

<section id="map">


  <div class="svgContainer {{elem}}" id="kingdom{{elem}}" ng-repeat="elem in kingdomId" ng-Dblclick="showDetails(elem)"></div>

  <button class="go-to-kingdom" type="button" name="button" ng-click="scrollToKingdom.toNode('#kingdom0')">Go to my kingdom</button>
  <!-- <select ng-model="searchText" name="select">
    <option value="value1">Value 1</option>
  </select> -->

  <div>
    <select ng-model="selected" ng-change="selectKingdom()">
      <option value="select">Select Kingdom</option>
      <option value="{{user.id}}" ng-repeat="user in kingdoms" >{{user.kingdom}}</option>
    </select>
 </div>




  <div class="userDetails" ng-show="show">

    <h1>{{kingdom}}</h1>

    <div class="buildings">
      <div class="mineContainer buildingContainer">
          <div class="mines">
            <img class="mineImg" src="img/icons/mine_icon.svg"></img>
            <div class="mineNumber"></div>
        </div>
        <button class="add" ng-click="addNewMine()">Build!</button>
      </div>

      <div class="factoryContainer buildingContainer">
          <div class="factories">
            <img class="factoryImg" src="img/icons/mine_icon.svg"></img>
            <div class="factoryNumber"></div>
        </div>
        <button class="add" ng-click="addNewFactory()">Build!</button>
      </div>

      <div class="academyContainer buildingContainer">
          <div class="academies">
            <img class="academyImg" src="img/icons/mine_icon.svg"></img>
            <div class="academyNumber"></div>
        </div>
        <button class="add" ng-click="addNewAcademy()">Build!</button>
      </div>
    </div>

    <h2>Troops</h2>
    <div class="troopsContainer">
      <img class="troop">{{troopsNum}}</img>
    </div>

  </div>


</section>
