<header ng-include="'public/menu/menu.html'"></header>

<section id="map">

  <div class="svgContainer {{elem.id}}" id="kingdom{{elem.id}}" ng-repeat="elem in kingdoms" ng-click="selectEnemy(elem.id)">
  </div>
  <img class="attackButton" src="./img/icons/attack_button-01.svg" ng-show="showEnemy" ng-click="attack(elem.id, elem.kingdom)"></img>


  <div class="focusKingdom">
    <div class="goToMyKingdom" type="button" name="button" ng-click="scrollToKingdom.toNode('#kingdom0')"></div>
    <select class="goToKingdom" ng-model="selected" ng-change="selectKingdom()">
      <option value="select">Select Kingdom</option>
      <option value="{{user.id}}" ng-repeat="user in kingdoms" >{{user.kingdom}}</option>
    </select>
  </div>


  <aside class="userDetails">
    <div class="sideElem">
      <img src="./img/assets/academynobg.svg"></img>
      <span>{{academyNum}}</span>
    </div>
    <div class="sideElem">
      <img src="./img/assets/factorynobg.svg"></img>
      <span>{{factoryNum}}</span>
    </div>
    <div class="sideElem">
      <img src="./img/assets/minenobg.svg"></img>
      <span>{{mineNum}}</span>
    </div>
    <div class="sideElem">
      <img src="./img/assets/troopsnobg2.svg"></img>
      <span>{{troops}}</span>
    </div>
  </aside>

  <div class="availableTroops" ng-show="showTroops">
    <h3>Select foxes</h3>
    <div class="troopsContainer">
      <div class="troop troop{{troop.id}}" ng-repeat="troop in myTroops" ng-click ="selectTroop(troop.id)">
        <div class="progress" style="width:{{troop.hp}}%;">
          <!-- <div class="hp" style="width: {{troop.hp}}%;"></div> -->
        </div>
        <div class="badge">{{troop.level}}</div>
      </div>
    </div>
    <button class="startBattleButton">start battle</button>
  </div>

  <div class="enemyDetails" ng-show="showEnemy">
    <!-- <img class="avatar" src=""></img>
    <h1>{{kingdom}}</h1> -->
    <div class="buildings">
      <div class="detail">
        <img src="./img/map/station.svg"></img>
        <span>level {{stationLevel}}</span>
      </div>

      <div class="detail">
        <img src="./img/fox1.svg"></img>
        <span>{{troopsNum}}</span>
      </div>

      <div class="detail">
        <img src="./img/map/academy.svg"></img>
        <span>{{academyNum}}</span>
      </div>

      <div class="detail">
        <img src="./img/map/factory.svg"></img>
        <span>{{factoryNum}}</span>
      </div>

      <div class="detail">
        <img src="./img/map/mine.svg"></img>
        <span>{{mineNum}}</span>
      </div>
    </div>

  </div>


</section>
