<section id="menu-bar" ng-controller="MenuController">

  <div class="menu">

    <div class="menuLeft">
      <div class="activeScreen" ng-click="closeMenu()"></div>
      <div class="option option1"  ng-click="goToScreen($event)"></div>
      <div class="option option2" ng-click="goToScreen($event)"></div>
      <div class="option option3" ng-click="goToScreen($event)"></div>
      <div class="option option4" ng-click="goToScreen($event)"></div>
      <!-- <div class="overlay"></div> -->
    </div>


    <div class="menuRight">
        <span>{{food}}</span>
        <img src="./img/icons/food-01.svg" alt="food"></img>
        <span>{{gold}}</span>
        <img src="./img/icons/diamond-01.svg" alt="gold"></img>

      <div class="drop-down-menu">
        <div class="drop-down-menu-icon" ng-init="open = false" ng-click="open = !open">
          <a class="drop-down-menu-username">{{username}}</a>
          <div class="drop-down-menu-avatar"></div>
        </div>
        <ul class="drop-down-menu-body" ng-show="open">
          <li class="drop-down-menu-row drop-down-menu-user"><a class="drop-down-menu-link" ng-href={{'#!/profile'}}>Profile</a></li>
          <li class="drop-down-menu-row drop-down-menu-logout" ng-click="logOut()"><a ng-href={{'#!/login'}} class="drop-down-menu-link">Log out</a></li>
        </ul>
      </div>
    </div>
    <div class="drop-down-overlay" ng-show="open" ng-click="open=!open"></div>

  </div>

</section>
