<section id="menu-bar" ng-controller="MenuController">

  <div class="menu">

    <!-- <ul class="menu-list">
      <a  ng-href={{'#!/overview'}} class="menu-elem" ng-click="getUserData()"><li>Overview</li></a>
      <a ng-href={{'#!/map'}} class="menu-elem"><li>Map</li></a>
      <a ng-href={{'#!/buildings'}} class="menu-elem"><li>Buildings</li></a>
      <a ng-href={{'#!/troops'}} class="menu-elem"><li>Troops</li></a>
      <a ng-href={{'#!/leaderboard'}} class="menu-elem"><li>Leaderboard</li></a>
      <a ng-href={{'#!/history'}} class="menu-elem"><li>History</li></a>
    </ul> -->

    <div class="activeScreen" ng-click="closeMenu()">
      <div class="overlay"></div>
      <div class="option option1"  ng-click="goToScreen($event)"></div>
      <div class="option option2" ng-click="goToScreen($event)"></div>
      <div class="option option3" ng-click="goToScreen($event)"></div>
      <div class="option option4" ng-click="goToScreen($event)"></div>
      <div class="option option5" ng-click="goToScreen($event)"></div>
    </div>

    <!-- <div class="circle"></div> -->

    <div class="resources">
      <span>{{food}}</span>
      <img src="./img/icons/food-01.svg" alt="food"></img>
      <span>{{gold}}</span>
      <img src="./img/icons/diamond-01.svg" alt="gold"></img>
    </div>

    <div class="drop-down-menu">
      <div class="drop-down-menu-icon" ng-init="open = false" ng-click="open = !open">
        <a class="drop-down-menu-username">{{username}}</a>
        <div class="drop-down-menu-avatar"></div>
      </div>
      <ul class="drop-down-menu-body" ng-show="open">
        <li class="drop-down-menu-row drop-down-menu-user"><a class="drop-down-menu-link" ng-href={{'#!/profile'}}>Profile</a></li>
        <li class="drop-down-menu-row drop-down-menu-logout" ng-click="logOut()"><a ng-href={{'#!/login'}} class="drop-down-menu-link">Log out</a></li>
      </ul>
    </div>
    <div class="drop-down-overlay" ng-show="open" ng-click="open=!open"></div>
  </div>

</section>
