<header ng-include="'public/menu/menu.html'"></header>

<section id="troops">

  <h1 class="title">Troops</h1>
  <span class="amount">{{troopsAmount}}</span>


  <div class="troopsContainer">
    <article class="troop" ng-repeat="troop in troops">
      <div class="imageHolder" id="{{troop.id}}" ng-click='getTroopData(troop.id)'></div>
      <div class="troopData" ng-show="open" ng-repeat="troopData in troopResponse">
        <div class="hp">{{troopData.hp}}</div>
        <div class="attack">{{troopData.attack}}</div>
        <div class="defense">{{troopData.defense}}</div>
        <div class="level">{{troopData.level}}</div>
      </div>
    </article>
  </div>

</section>
