<header ng-include="'public/menu/menu.html'"></header>

<section id="troops">

  <span class="error" ng-init="error=false" ng-show="error">{{errorMessage}}</span>
  <h1 class="title"><span>{{troops.length}}</span> foxes</h1>
  <button class="addTroops" ng-click="addTroop()"></button>

  <div class="troopsContainer">

    <article class="troop" ng-repeat="troop in troops" >
      <div class="hpProgress">
        <span>{{troop.hp}}</span>
        <div class="hpActual" style="width: {{troop.hp}}%"></div>
      </div>
      <div class="imageHolder"></div>
      <div class="troopData">

        <div class="data attack">
          <img class="level" src="./img/assets/attack.svg"></img>
          <span class="data">{{troop.attack}}</span>
        </div>

        <div class="data defence">
          <img class="level" src="./img/assets/defence.svg"></img>
          <span class="data">{{troop.defence}}</span>
        </div>
        <div class="data level">
          <img class="level" src="./img/assets/level2-01.svg"></img>
          <span class="data">{{troop.level}}</span>
        </div>
        <button class="train" ng-click="trainTroop(troop.id, troop.level)">Train!</button>
      </div>



    </article>


  </div>

</section>
