<section id="overview-site">

  <header ng-include="'public/menu/menu.html'"></header>

  <h1 class="overview-kingdom-name">{{kingdom}}</h1>

  <div class="overview-container">

    <div class="overview-buildings column" ng-click="">
      <h1 class="overview-name">Buildings</h1>
      <div class="overview-list" ng-repeat="building in buildingTypes">
        <div class="overview-buildings-thumb {{building.type}}" ng-style="{'background-image': 'url({{building.image}})'}"></div>
        <h2 class= "overview-buildings-name">
          {{building.type}}: {{building.amount}}
        </h2>
      </div>
    </div>

    <div class="overview-troops column" ng-click="">
      <h1 class="overview-name">Troops</h1>
      <span class="overview-troops-num">{{troopsAmount}}</span>
      <div class="overview-troops-imageContainer">
        <div class="overview-troops-image" ng-repeat="troop in troops"></div>
      </div>
    </div>

    <div class="overview-resources column">
      <h1 class="overview-name">Resources</h1>
      <div class="overview-list" ng-repeat="resource in resourceTypes">
        <div class="overview-resources-thumb" ng-style="{'background-image': 'url({{resource.image}})'}"></div>
        <h2 class= "overview-resources-name">
          {{resource.type}}: {{resource.amount}}
        </h2>
      </div>
    </div>

  </div>

</section>
