<section id="overview-site">

  <header ng-include="'public/menu/menu.html'"></header>

  <h1 class="kingdom">{{kingdom}}</h1>

  <div class="container">

    <div class="buildings column" ng-click="">
      <h1>Buildings</h1>

      <div class="list" ng-repeat="building in buildingTypes">

        <div class="buildings-type {{building.type}}" ng-style="{'background-image': 'url({{building.image}})'}"></div>

        <h2 class= "buildings-name">
          {{building.type}}: {{building.amount}}
        </h2>
      </div>
    </div>

    <div class="troops column" ng-click="">
      <h1 class="name">Troops</h1>
      <span class="troops-num">{{troopsAmount}}</span>
      <div class="troops-imageContainer">
        <div class="troops-image" ng-repeat="troop in troops"></div>
      </div>
    </div>

    <div class="overview-resources column">
      <h1 class="overview-name">Resources</h1>
      <div class="overview-list" ng-repeat="resource in resourceTypes">
        <div class="overview-resources-thumb" ng-style="{'background-image': 'url({{resource.image}})'}"></div>
        <h2 class= "overview-resources-name">
          {{resource.type}}: {{resource.amount}}
        </h2>
      </div>
    </div>

  </div>

</section>
