<section id="buildings-site">
  <header ng-include="'public/menu/menu.html'"></header>

  <h1 class="building-title">Buildings</h1>

  <div class="container">
    </article>
    <article class="building row" ng-repeat="building in buildingsList">
      <div class="building-item" id="{{building.id}}">
        <!-- <i class="img"></i> -->
        <div class="type">{{building.type}}</div>
        <div class="level">{{building.level}}</div>
        <div class="hp">{{building.hp}}</div>
        <button class="upgrade" type="button" name="upgrade" ng-click="upgradeBuilding()">Upgrade</button>
      </div>
    </article>
    <button class="row create-button" type="button" name="Create building" ng-click="setBuildingType()">Create new building</button>
  </div>
</section>
