
<section id="login-site" ng-controller = "LoginController">
  <button class="registration-button" onclick="location.href='#!/register'">Register</button>
  <span ng-init="error=false" ng-show="error">{{errorMessage}}</span>
  <form name="loginForm" class="login-window" ng-submit="userLogin()" novalidate>
    <input name="username" id="login-name" type="text" placeholder="Username" ng-model="username" ng-required="true">
    <input name="password" id="login-password" type="password" placeholder="Password" ng-model="password" ng-required="true">
    <input id="login-button" type="submit" value="Log in" ng-disabled="loginForm.$invalid">
  </form>
</section>
