*, input {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}


body, html, main {
  width: 100%;
  height: 100%;
}

#login-site, #reg-site {
  width: 100%;
  height: 100%;
  padding-top: 20%;
  background-size: cover;
  background-image: url("img/isometric_bg.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.login-window, .reg-window {
  width: 20%;
  margin: auto;
  border-radius: 5px;
  transform-origin: center center;
}

input {
  width: 100%;
  display: block;
  padding: 10px;
  border: 0px solid white;
  background-color: rgba(255, 255, 255, 0.9);
}

#login-name, #reg-name {
  border-bottom: 1px solid rgba(150, 150, 150, 0.7);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#login-password, #reg-password {
  border-bottom: 1px solid rgba(150, 150, 150, 0.7);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#reg-kingdom {
  border-bottom: 1px solid rgba(150, 150, 150, 0.7);
}

#login-button {
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(231, 160, 170, 1);
  color: white;
  font-weight: bold;
}

.registration-button, .login-button {
  position: absolute;
  top: 3%;
  right: 3%;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(231, 160, 170, 1);
  color: white;
}

@media (max-width: 1400px) {
  .login-window {
    width: 30%;
  }
  #login-site {
    padding-top: 25%;
  }
}

@media (max-width: 1000px) {
  .login-window {
    width: 40%;
  }
  #login-site {
    padding-top: 30%;
  }
}

@media (max-width: 600px) {
  .login-window {
    width: 60%;
  }
  #login-site {
    padding-top: 50%;
  }
}
